profiles {
  // LOCAL env 
  local {
    process {
      withLabel: preproc {
        cpus = 1
        memory = '1.5 GB'
        maxForks = 3
      }
      withName: map_collapse {
        maxForks = 2
      }
      withName: resolve_uwm {
        maxForks = 2
      }
      queueSize = 8
    }
  }

  // HPC/cluster
  hpc {
    process {
      withLabel: preproc {
        cpus = 4
        memory = '8 GB'
        maxForks = 50     // many samples can pre-process concurrently
      }
      queueSize = 200
    }
    params {
      threads = 4
    }
  }
}
