profiles {
  // LOCAL env 
    local {
    process {
      withLabel: preproc {
        cpus = 1
        memory = '1.5 GB'
        maxForks = 8
      }

      withName: map_raw {
        maxForks = 8
      }

      withName: map_collapse {
        maxForks = 8
      }

      withName: resolve_uwm {
        maxForks = 4
      }
    }

    params {
      threads = 1
      thr_sm = 2
      resolve_cpus = 2
    }
  }
  // HPC/cluster
  hpc {
    process {
      withLabel: preproc {
        cpus = 4
        memory = '8 GB'
        maxForks = 50     // many samples can pre-process concurrently
      }
      queueSize = 200
    }
    params {
      threads = 4
    }
  }
}
