// nextflow.config
// Prefer projectDir so paths work for everyone
// ROOT should be the path of the project
def ROOT = "${projectDir}"



params {
  // GENERAL INPUTS
  reads       = "${ROOT}/example/fastq/*.fastq.gz"  // path to input FASTQ files
  genome      = "${ROOT}/example/genome/caenorhabditis_elegans.PRJNA13758.WBPS19.genomic.fa"  // reference genome FASTA
  annotation  = "${ROOT}/example/annotation/caenorhabditis_elegans.PRJNA13758.WBP19.overlapping_annotation.gff3.gz" // annotation GFF3 (WBPS19)
  contrast    = "${ROOT}/contrast.txt"  // contrast file for differential expression

  // QC PARAMS
  preproc             = 'fastp'    // 'fastp' or 'legacy' (legacy = cutadapt + fastqc)
  fastp_use_adapter   = true       // Should fastp use a provided adapter or auto-detect? (null = auto; set true to force adapter)
  threads             = 1          // threads for QC steps
  adapter             = "AGATCGGAAGAG"  // 3' adapter sequence
  minlen              = 18         // minimum read length
  maxlen              = 27         // maximum read length
  // ANNOTATION QC
  cfeat		= "rRNA,tRNA,gene,DNA,LINE,LTR"
  mfeat		= 1  

  // If your code expects strings ('all'/'none'), set map_gate = 'all' or 'none' instead of boolean:
  map_gate            = true       // wait for all FASTQs to finish preprocessing before mapping
  


  // ALIGNMENT PARAMS
  raw_mode	      = true	   // avoid read collapse (map raw reads, RC must be 1 for each aligned read)
  thr_sm              = 6          // threads for small RNA mapping
  n_mismatch	      = 1	   // Bowtie mismatches
  smem_sm             = "4G"       // memory for mapping and BAM processing
  max_multimaps       = null       // max multimapping loci per read (null = report all)
  offrate_sm          = 2          // smaller offrate = larger index, faster mapping
  assign_mode         = 'uwm'      // 'uwm' (unique weighted mapping) or 'random'
  wins_sm             = 250        // window size for UWM (ignored if assign_mode = 'random')
  expand_unmapped     = false       // Expand unmapped reads by RC map (default = false)
  save_non_mappers  = true   // save unmapped reads as *.unmapped(.collapsed).fastq.gz (false = do not write unmappers)
  
  // BENCHMARK OPTIONS
  uwm_mmap_max            = null   // only in raw_mode+uwm: drop reads with NH > this value  null = no limit
  uwm_suppress_equal_prob = false  // only in raw_mode+uwm: if all candidate loci have equal probability, do not place the read (discard)


  // POSTALIGNMENT
  use_rds                     = false   // build GRanges objects and save as RDS
  minoverlap                  = 0.7     // featureCounts minimum overlap fraction
  consider_strand             = true   // consider strand when quantifying uniquely mapped reads in UWM
  apply_first_nt_downstream   = true    // continue pipeline after first-nucleotide plot analysis
  first_nt                    = ""      // filter by first nucleotide (e.g. "G"); empty string = no filter
  make_bedgraph               = false   // create RPM-normalized, stranded bedGraph files

  // DEA PARAMS
  threshold_inc       = false    // threshold values included in contrast file
  lfc                 = 1        // log2 fold-change threshold
  fdr                 = 0.05     // FDR threshold
  hk_norm             = true     // use "housekeeping" feature normalization
  disable_tmm_for_fbn = false    // use the whole set of instances of the selected category for normFactor estimation
  norm_feature        = "rRNA_S"  // feature used for housekeeping normalization
  stringent_tmm       = false    // use stringent TMM (useful with enough replicates & many instances)
}
