// nextflow.config

// Define the root directory for the project
def ROOT = "/path/to/sRNAseq-nf"


params {
  // GENERAL INPUTS
  reads				= "${ROOT}/example/fastq/*.fastq.gz" // path to input FASTQ files
  genome                        = "${ROOT}/example/genome/caenorhabditis_elegans.PRJNA13758.WBPS19.genomic.fa"  // path to reference genome FASTA file
  annotation                    = "${ROOT}/example/annotation/caenorhabditis_elegans.PRJNA13758.WBP19.overlapping_annotation.gff3.gz" // path to annotation GFF3 file
  contrast                      = "${ROOT}/contrast.txt"   // path to contrast file for differential expression analysis

  // QC PARAMS
  preproc                       = 'fastp'                  // preprocessing tool: 'fastp' or 'legacy' (legacy uses cutadapt + fastqc)
  fastp_use_adapter             = null			   // Do fastp should use a provided adpater or guess (Default: null, true if a provided adapter shuld be used)
  threads			= 1                        // number of threads to use in quality control steps
  adapter			= "AGATCGGAAGAG"           // 3' adapter sequence to trim (if fastp is used for QC it can auto-detect adapters)
  minlen			= 18                       // minimum read length 
  maxlen			= 27                       // maximum read length
  map_gate                      = true                     // Waits until all FASTQ files have finished preprocessing before starting mapping (useful for systems with limited resources)
  
  // ALIGNMENT PARAMS
  thr_sm                        = 6                        // number of threads for small RNA mapping
  smem_sm                       = "4G"                     // memory for small RNA mapping and BAM processing
  max_multimaps                 = null                     // maximum number of multimapping locations per read (null = all possible loci are reported)
  offrate_sm			= 2                        // off-rate for small RNA mapping (smaller values create larger indices and use more memory, but speed up mapping)
  assign_mode			= 'uwm'                    // multimapping assignment mode: 'uwm' (unique weighted mapping) or 'radom' (random assignment)
  wins_sm			= 250                      // window size for unique weighted mapping (it can be omitted if assign_mode is 'random')
  
  // POSTALIGNMENT
  use_rds			= false                    // Build GRanges objects from BAM files, saving them as RDS files for faster downstream processing
  minoverlap			= 0.7                      // featureCounts minimum overlap fraction for assigning reads to features
  consider_strand		= false                    // Conisder strand information when quantifining unique maper reads in UWM asignment mode (default: false)
  apply_first_nt_downstream     = true                     // Continue the pipeline after furst nucleitide plot ananalysis?
  first_nt                      = ""                       // filter reads by first nucleotide (e.g., "G" or "T"); empty string means no filtering
  make_bedgraph                 = false                    // Create RPM normalized and stranded bedGraph files? 

  // DEA PARAMS
  treshold_inc			= false                    // Threshold values included in the contrast file (default: false)
  lfc			        = 1                        // log2 fold-change threshold for differential expression analysis
  fdr				= 0.05                     // FDR threshold for differential expression analysis
  hk_norm			= true                     // use "housekeeping" feature normalization (default: false)
  norm_feature			= "miRNA"                       // feature to use for "housekeeping" normalization
  stringent_tmm			= false                    // use stringent TMM for normalization factors calculation (usefule when enough replicates are available and the feature has several instances)
}
