params {
  reads       = "/home/isaac/storage/Data/CELE_ANN/nextflow/test/*.fastq.gz"
  threads     = 4
  adapter     = "AGATCGGAAGAG"
  minlen      = 18
  maxlen      = 27
  genome      = "/home/isaac/storage/Data/CELE_ANN/nextflow/genome/caenorhabditis_elegans.PRJNA13758.WBPS19.genomic.fa"
  annotation  = "/home/isaac/storage/Data/CELE_ANN/nextflow/annotation/caenorhabditis_elegans.PRJNA13758.WBP19.overlapping_annotation.gff3"
  thr_ss      = 12
  sm_ss       = "12G"
}
